{% extends 'base.html.twig' %}

{% block contenu %}

	<style>
		.fa-paper-plane {
			margin-top: -10px;
		}
	</style>

	<link rel="stylesheet" href="{{ asset('css/form.css') }}"/>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

	<h2>Mot de passe oublié
	</h2>

	<section class="formulaire">

		{{ form_start(emailForm)}}
		<i class="fas fa-at"></i>
		{{form_row(emailForm.email, {'label':'Adresse mail :','attr':{'placeholder':'Adresse mail ...'}}) }}
		{{form_row(emailForm.envoyer, {'label':'Inscription :'}) }}
		<i class="fas fa-paper-plane"></i>

		{{ form_end(emailForm)}}

	</section>

{% endblock %}
