{% extends 'base.html.twig' %}

{% block contenu %}
	<style>
		.fa-paper-plane {
			margin-top: -10px;
		}
	</style>
	<link rel="stylesheet" href="{{ asset('css/form.css') }}"/>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">


	<h2>Ajouter un article
	</h2>

	<section class="formulaire">


		{{ form_start(subjectForm) }}
		{{ form_row(subjectForm.title, {'label':'Titre :','attr':{'placeholder':'Titre ...'}}) }}
		{{ form_row(subjectForm.description, {'label':'Description :','attr':{'placeholder':'Description ...'}}) }}
		{{ form_row(subjectForm.ajouter) }}
		<i class="fas fa-paper-plane"></i>
		{{ form_end(subjectForm) }}


	</section>
{% endblock %}
